nav {
    background-color: #333;
    color: #fff;
    border-radius: 3px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url('3a3b7b936e3ff87016de28ea865cbbb6.jpg');
    background-repeat: no-repeat;
    background-size:1000vh;
    background-position: center center;
    color: white;
  }
  
  
  
  .login-container {
    background-color: #fff;
    max-width: 360px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    margin-top: 30px;
  }
  
  input[type="text"], input[type=email], 
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: Black;
    box-shadow: #555;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1ccbfc;
    color: white;
    box-shadow: 2px 2px 4px rgba(51, 224, 247, 0.4);
  }
  .container {
    width: 90%;
    margin: 0 auto;
}
a.home:link,
a.home:visited {
  background-color: white;
  color: black;
  border: 2px solid #555;
  padding: 10px 20px;
  margin: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: #000000;
  border-radius: 5px;
}

a.home:hover,
a.home:active {
  background-color: #2fd3ec;
  color: white;
  box-shadow: 2px 2px 4px rgba(58, 195, 219, 0.4);
}
table.list {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

table.list th, table.list td {
  padding: 10px;
  text-align: left;
  border: 0.5px solid #a3b0bc;
}

table.list th {
  background-color: #8ea0b1;
  color: white;
}

/* CSS for the PHP code */
table.list td:first-child {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  /* Adjustments for iPhone devices */

  .login-container {
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;
  }

  input[type="text"],
  input[type=email],
  input[type="password"] {
    margin-bottom: 10px;
  }

  button {
    padding: 8px;
  }

  a.home,
  a.home:visited {
    padding: 8px 16px;
    margin: 0.5%;
  }

  table.list th,
  table.list td {
    padding: 8px;
  }
}